<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	<!--<system.serviceModel>
		<bindings>
			<binding name="DelayedResponse" closeTimeout="00:00:05" openTimeout="00:00:05" receiveTimeout="00:01:00" sendTimeout="00:01:00" maxReceivedMessageSize="2147483647"/>
			<binding name="sensorHttpEndpoint"/>
			<binding name="sensorHttpEndpoint1"/>
			<binding name="displayHttpEndpoint"/>
			<binding name="sensorHttpEndpoint2"/>
			<binding name="sensorHttpEndpoint3"/>
			<binding name="sensorHttpEndpoint4"/>
		</bindings>

		<client>
			<endpoint address="http://192.168.0.29:11099/MFace/Service/Display" binding="basicHttpBinding" bindingConfiguration="DelayedResponse" contract="Morpho.MFace.Sensor.Service.IDisplayService" name="MFaceDisplayService"/>
			<endpoint address="http://localhost:11099/MFace/Service/Sensor" binding="basicHttpBinding" bindingConfiguration="sensorHttpEndpoint2" contract="MFaceServiceV3Kit.ISensorService" name="sensorHttpEndpoint"/>
			<endpoint address="http://localhost:11099/MFace/Service/Sensor" binding="basicHttpBinding" bindingConfiguration="sensorHttpEndpoint3" contract="MFaceServiceV3Kit.ISensorService" name="sensorHttpEndpoint1"/>
			<endpoint address="http://localhost:11099/MFace/Service/Sensor" binding="basicHttpBinding" bindingConfiguration="sensorHttpEndpoint4" contract="MFaceServiceV3Kit.ISensorService" name="sensorHttpEndpoint2"/>
		</client>
	</system.serviceModel>-->

	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="DelayedResponse" openTimeout="00:00:05" closeTimeout="00:00:05" sendTimeout="00:01:00" receiveTimeout="00:01:00" maxReceivedMessageSize="2147483647"/>
			</basicHttpBinding>
		</bindings>

		<client>
			<endpoint address="http://127.0.0.1:11099/MFace/Service/Sensor" binding="basicHttpBinding" bindingConfiguration="DelayedResponse" contract="Morpho.MFace.Sensor.Service.ISensorService" name="MFaceSensorService"/>
			<endpoint address="http://127.0.0.1:11099/MFace/Service/Display" binding="basicHttpBinding" bindingConfiguration="DelayedResponse" contract="Morpho.MFace.Sensor.Service.IDisplayService" name="MFaceDisplayService"/>
		</client>
	</system.serviceModel>
</configuration>